body {
    &.login {
        background-size: cover;
        position: relative;
        min-height: 100%;
        height: auto;

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        &::before {
            opacity: 0.1;
            background: #000;
        }

        .language-switcher {
            position: relative;
            z-index: 99;
        }

        #login {
            position: relative;
            z-index: 99;

            h1 {
                a {
                    width: auto;
                    max-width: 100%;
                    background-position: center center;
                    height: 65px;
                    background-size: contain;
                    margin-bottom: 30px;

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            // .button-primary {
            //     float: none;
            // }
            .privacy-policy-link {
                color: #ec1f27;
                text-decoration: none;
            }

            #nav {
                margin: 0;
                text-align: right;
                right: 0;
                position: relative;
                top: -59px;
            }

            #nav,
            .privacy-policy-link,
                // .forgetmenot,
            #backtoblog {
                display: none;
            }
        }

        form {
            padding: 26px 24px 40px;

            &.shake + #nav {
                animation: shake 0.2s cubic-bezier(0.19, 0.49, 0.38, 0.79) both;
                animation-iteration-count: 3;
                transform: translateX(0);
            }
        }
    }

    &.post-type-banner {
        .wp-list-table {
            .column-post_thumb {
                width: 120px;

                img {
                    max-width: 120px;
                    max-height: 120px;
                    width: auto;
                    height: auto;
                }
            }
        }
    }

    &.wp-admin {
        .acf-gallery {
            height: 205px !important;
        }

        #rank_math_dashboard_widget {
            .rank-math-blog-title {
                display: none;
            }

            .rank-math-blog-post {
                display: none;
            }
        }

        .rml-update-notice {
            &.active {
                display: none;
            }
        }

        .acf-editor-wrap {
            &.html-active {
                textarea {
                    height: 100px;
                }
            }

            iframe {
                min-height: 100px;
                max-height: 120px;
            }
        }
    }
}

.post-type-site-review #contentdiv textarea,
.post-type-site-review .wp-editor-area {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

#wp-admin-bar-wp-logo {
    display: none;
}

.wp-admin #whl_settings {
    display: none !important;
}

.tips {
    cursor: help;
    text-decoration: none;
}

.p {
    font-size: 13px;
    line-height: 1.5;
    margin: 1em 0;
}

.postform-checkbox {
    max-height: 75px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #eee;
    padding: 10px;
    width: calc(100% - 20px);
}

.row-actions {
    .action_id {
        color: #999;
    }
}

.notice {
    &.error {
        &.wpdiscuz-recaptcha,
        &.wpdiscuz-frontend-moderation {
            display: none;
        }
    }
}

table {
    &.wp-list-table {
        .column-post_thumb,
        .column-term_thumb {
            width: 60px;
            text-align: center;
            white-space: nowrap;
        }

        .wc-image {
            display: block;
            text-indent: -9999px;
            position: relative;
            height: 1em;
            width: 1em;
            margin: 0 auto;

            &::before {
                content: "ï„¨";
                font-family: "Dashicons", sans-serif;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                text-indent: 0;
                font-size: 15px;
                font-weight: 400;
                color: #666;
            }
        }

        .column-post_thumb,
        .column-term_thumb {
            img {
                max-width: 60px;
                max-height: 60px;
                display: block;
                height: auto;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

#element-pack-notice-id-license-issue,
#element-pack-notice-id-license-error {
    display: none !important;
}

.php-error {
    #adminmenuback,
    #adminmenuwrap {
        margin-top: 0;
    }
}

#elementor-editor-wrapper {
    #elementor-preview {
        #elementor-notice-bar {
            display: none;
            height: 0 !important;
        }
    }
}

#arcontactus-plugin-container {
    .ui.red.message {
        display: none !important;
    }
}

.acf-field {
    &.tiny-text {
        input {
            width: 80px;
        }
    }

    .acf-label {
        label {
            font-weight: 500;
        }
    }
}

div[data-notice_id="elementor_dev_promote"] {
    display: none !important;
}

#acf-term-fields, #edittag {
    .acf-field {
        select, input[type=number] {
            width: auto;
            max-width: 100%;
        }
    }
}
#acf-term-fields {
    &>.acf-field {
        & > .acf-label label {
            font-size: 13px;
            color: #1d2327;
        }
    }
}
.form-table > tbody > .acf-field > .acf-label label {
    font-weight: 600;
    color: #1d2327;
}

table.fixed {
    th.column-term_order {
        width: 74px;
        hyphens: auto;
        padding: 0;

        a, span {
            display: block;
            overflow: hidden;
            padding: 8px;
        }
    }

    td.column-term_order {
        width: 74px;
        hyphens: auto;
        text-align: center;
    }
}
.edit-post-meta-boxes-area #poststuff h2.hndle {
    color: #1e1e1e;
}

.widgets-chooser .widgets-chooser-button {
    color: #1d2327;
}

.woocommerce-layout__header {
    display: none !important;
}