body.login {
  background-size: cover;
  position: relative;
  min-height: 100%;
  height: auto;
}
body.login::after, body.login::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
body.login::before {
  opacity: 0.1;
  background: #000;
}
body.login .language-switcher {
  position: relative;
  z-index: 99;
}
body.login #login {
  position: relative;
  z-index: 99;
}
body.login #login h1 a {
  width: auto;
  max-width: 100%;
  background-position: center center;
  height: 65px;
  background-size: contain;
  margin-bottom: 30px;
}
body.login #login h1 a:focus {
  box-shadow: none;
}
body.login #login .privacy-policy-link {
  color: #ec1f27;
  text-decoration: none;
}
body.login #login #nav {
  margin: 0;
  text-align: right;
  right: 0;
  position: relative;
  top: -59px;
}
body.login #login #nav,
body.login #login .privacy-policy-link,
body.login #login #backtoblog {
  display: none;
}
body.login form {
  padding: 26px 24px 40px;
}
body.login form.shake + #nav {
  animation: shake 0.2s cubic-bezier(0.19, 0.49, 0.38, 0.79) both;
  animation-iteration-count: 3;
  transform: translateX(0);
}
body.post-type-banner .wp-list-table .column-post_thumb {
  width: 120px;
}
body.post-type-banner .wp-list-table .column-post_thumb img {
  max-width: 120px;
  max-height: 120px;
  width: auto;
  height: auto;
}
body.wp-admin .acf-gallery {
  height: 205px !important;
}
body.wp-admin #rank_math_dashboard_widget .rank-math-blog-title {
  display: none;
}
body.wp-admin #rank_math_dashboard_widget .rank-math-blog-post {
  display: none;
}
body.wp-admin .rml-update-notice.active {
  display: none;
}
body.wp-admin .acf-editor-wrap.html-active textarea {
  height: 100px;
}
body.wp-admin .acf-editor-wrap iframe {
  min-height: 100px;
  max-height: 120px;
}

.post-type-site-review #contentdiv textarea,
.post-type-site-review .wp-editor-area {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

#wp-admin-bar-wp-logo {
  display: none;
}

.wp-admin #whl_settings {
  display: none !important;
}

.tips {
  cursor: help;
  text-decoration: none;
}

.p {
  font-size: 13px;
  line-height: 1.5;
  margin: 1em 0;
}

.postform-checkbox {
  max-height: 75px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #eee;
  padding: 10px;
  width: calc(100% - 20px);
}

.row-actions .action_id {
  color: #999;
}

.notice.error.wpdiscuz-recaptcha, .notice.error.wpdiscuz-frontend-moderation {
  display: none;
}

table.wp-list-table .column-post_thumb,
table.wp-list-table .column-term_thumb {
  width: 60px;
  text-align: center;
  white-space: nowrap;
}
table.wp-list-table .wc-image {
  display: block;
  text-indent: -9999px;
  position: relative;
  height: 1em;
  width: 1em;
  margin: 0 auto;
}
table.wp-list-table .wc-image::before {
  content: "\f128";
  font-family: "Dashicons", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-indent: 0;
  font-size: 15px;
  font-weight: 400;
  color: #666;
}
table.wp-list-table .column-post_thumb img,
table.wp-list-table .column-term_thumb img {
  max-width: 60px;
  max-height: 60px;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#element-pack-notice-id-license-issue,
#element-pack-notice-id-license-error {
  display: none !important;
}

.php-error #adminmenuback,
.php-error #adminmenuwrap {
  margin-top: 0;
}

#elementor-editor-wrapper #elementor-preview #elementor-notice-bar {
  display: none;
  height: 0 !important;
}

#arcontactus-plugin-container .ui.red.message {
  display: none !important;
}

.acf-field.tiny-text input {
  width: 80px;
}
.acf-field .acf-label label {
  font-weight: 500;
}

div[data-notice_id=elementor_dev_promote] {
  display: none !important;
}

#acf-term-fields .acf-field select, #acf-term-fields .acf-field input[type=number], #edittag .acf-field select, #edittag .acf-field input[type=number] {
  width: auto;
  max-width: 100%;
}

#acf-term-fields > .acf-field > .acf-label label {
  font-size: 13px;
  color: #1d2327;
}

.form-table > tbody > .acf-field > .acf-label label {
  font-weight: 600;
  color: #1d2327;
}

table.fixed th.column-term_order {
  width: 74px;
  -webkit-hyphens: auto;
          hyphens: auto;
  padding: 0;
}
table.fixed th.column-term_order a, table.fixed th.column-term_order span {
  display: block;
  overflow: hidden;
  padding: 8px;
}
table.fixed td.column-term_order {
  width: 74px;
  -webkit-hyphens: auto;
          hyphens: auto;
  text-align: center;
}

.edit-post-meta-boxes-area #poststuff h2.hndle {
  color: #1e1e1e;
}

.widgets-chooser .widgets-chooser-button {
  color: #1d2327;
}

.woocommerce-layout__header {
  display: none !important;
}

/*# sourceMappingURL=admin.css.map*/